# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# qtcreators machine configuration files
*.pro.*
*.opensdf
*.sdf
*.suo
Debug/
Release/
build-*-debug/
*.vcxproj.user
